.Button{
    height: 35px;
    padding-inline:30px;
    text-decoration: none;
    background-color: #393939;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    border-radius: 4px;
    align-self: flex-end;
}
.Button a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    gap: .4rem;
    text-transform: capitalize;
}