.restaurant{
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block-end: 3rem;
}
.restaurantInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:15px;
}
.restaurantInfo .nameAndRating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.restaurantInfo .nameAndRating h1{
    font-size: 20px;
    color: #393939;
}
.restaurant .location{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: .9;

}
.restaurant .location span{
    font-size: 16px;
    color: #393939;
}
.restaurantImg{
    width: 100%;
    height: 200px;
}
.restaurantImg img{
    width: 100%;
    height: 100%;
}
.restaurant .description{
    color: #393939;
    font-size: 14px;
    opacity: .7;
    line-height: 22px;
}