.sandwitchMenuLinks{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-block-end: 2rem;
}
.sandwitchMenuLink{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    color: #393939;
    opacity: .5;
}

.sandwitchMenuLink:hover{
    opacity: .8;
}
.sandwitchMenuLink.active{
    opacity: .8;
}
.sandwitchMenuLink img{
    width: 10px;
    height: 10px;
    object-fit: contain;
}
.sandwitchMenuLink span{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
