.sidbarbox {
    flex-basis: 18%;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

.logoBox {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}

.logoBox .logo {
    padding-left: 50px;
}
.logoBox .logo img{
    height: 45px;
}

/* sidebarMenuLinks */
.sidebarLinks {
    display: flex;
    flex-direction: column;
    padding-block-start: 1rem;
    padding-block-end: 3rem;
    border-bottom: 1px solid #e7e7e7;
}

.sidebarMenuLink {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    opacity: .7;
    height: 45px;
    background-color: transparent;
    padding-left: 30px;
}
.sidebarMenuLinkActive {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    height: 45px;
    padding-left: 30px;
    background-color: #393939;
    color: #fff;
}
.sidebarMenuLink img {
    height: 20px;
    width: 20px;
}
.sidebarMenuLinkActive img {
    height: 20px;
    width: 20px;
}

.sidebarMenuLink span {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: var(--small-text);
    color: #292919;
}
.sidebarMenuLinkActive span {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: var(--small-text);
    color: #fff;
}